.cart {
  position: absolute;
  top: 10;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 200%;
  font-family: manrope;
}

.cart-container {
  background-color: white;
  margin: 5em 1em;
  border-radius: 0.5em;
}

.cart-heading-remove {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.cart-heading-remove h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.remove-btn {
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
.cart-items {
  height: 8em;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  text-align: left;
}

.item-name-price h5 {
  font-weight: bold;
}
.item-name-price {
  width: 10em;
}

.cart-items:nth-child(2) {
  margin-top: 3em;
}

.qty-selector {
  display: flex;
  height: 20%;
  width: 30%;
  margin-top: 1em;
}

.cart-items img {
  margin-top: 3em;
  width: 20%;
  height: 50%;
  border-radius: 0.4em;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  text-transform: uppercase;
}

.total-price {
  font-weight: bold;
}
.checkout-btn-wrap {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout-btn {
  margin: auto;
  text-decoration: none;
  text-align: center;
  padding-top: 0.7em;
  width: 85%;
  height: 3em;
  color: white;
  border: none;
  background-color: #d87d4a;
  text-transform: uppercase;
}
