.home-section-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  font-family: "manrope";
  text-transform: uppercase;
  margin-bottom: 7em;
}

.section-1-card {
  height: 22%;
  width: 75%;
  border-radius: 0.8em;
  background-color: #f1f1f1;
}

.section-1-card {
  margin-top: 6em;
}

.section-1-img {
  position: relative;
  width: 10em;
  bottom: 4em;
}

.section-1-card h3 {
  position: relative;
  bottom: 3.5em;
  font-weight: bold;
}

.section-1-btn {
  position: relative;
  bottom: 4.7em;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.shop-arrow {
  position: relative;
  bottom: 1.5px;
  left: 3px;
}
